{% extends "base.html" %}

{% block app_content %}
    <form action="" method="post">
      {{ form.hidden_tag() }}

          <table class="table table-hover">
              <tr>
                <th style="text-align:center">{{ form.film11.label }}</th><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <th style="text-align:center">{{ form.film12.label }}</th><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <th style="text-align:center">{{ form.film13.label }}</th><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <th style="text-align:center">{{ form.film14.label }}</th><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <th style="text-align:center">{{ form.film15.label }}</th><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <th style="text-align:center">{{ form.film16.label }}</th><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <th style="text-align:center">{{ form.film17.label }}</th><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <th style="text-align:center">{{ form.film18.label }}</th><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <th style="text-align:center">{{ form.film19.label }}</th><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <th style="text-align:center">{{ form.film20.label }}</th><td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td></tr>

              <tr>
                <td><a href="https://www.imdb.com/title/tt0265086/", target="_blank"><img src="{{ url_for('static', filename = 'posters/11.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film11 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt0039192/", target="_blank"><img src="{{ url_for('static', filename = 'posters/12.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film12 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt1825683/", target="_blank"><img src="{{ url_for('static', filename = 'posters/13.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film13 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt0171804/", target="_blank"><img src="{{ url_for('static', filename = 'posters/14.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film14 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt0112573/", target="_blank"><img src="{{ url_for('static', filename = 'posters/15.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film15 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt0088846/", target="_blank"><img src="{{ url_for('static', filename = 'posters/16.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film16 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt1843866/", target="_blank"><img src="{{ url_for('static', filename = 'posters/17.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film17 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt0034583/", target="_blank"><img src="{{ url_for('static', filename = 'posters/18.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film18 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt0317248/", target="_blank"><img src="{{ url_for('static', filename = 'posters/19.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film19 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt0190332/", target="_blank"><img src="{{ url_for('static', filename = 'posters/20.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film20 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                </td><td style="vertical-align:middle"><input type="image" name="submit" src="{{ url_for('static', filename = 'next.png') }}" border="0" alt="Submit"/></td></tr>

              <tr>

                <th style="text-align:center;vertical-align:middle;height:80px;">Haven't seen it?<br>Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film11 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film11.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle">Haven't seen it? <br> Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film12 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film12.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle">Haven't seen it? <br> Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film13 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film13.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle"> Haven't seen it? <br> Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film14 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film14.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle"> Haven't seen it? <br> Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film15 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film15.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle"> Haven't seen it? <br> Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film16 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film16.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle"> Haven't seen it? <br> Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film17 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film17.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle"> Haven't seen it? <br> Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film18 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film18.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle"> Haven't seen it? <br> Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film19 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film19.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle"> Haven't seen it? <br> Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film20 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film20.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td><td></td>
            </table>
      </form>
      <div class="centered">
        <h1>
          <span class="line">
          <a href="{{ url_for('main.mooreview', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp &nbsp1</a>
          <a href="{{ url_for('main.mooreview2', id=current_user.id) }}" class="btn btn-primary btn-sm active" role="button">part&nbsp&nbsp 2</a>
          <a href="{{ url_for('main.mooreview3', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp&nbsp 3</a></span>
          <span class="line">
          <a href="{{ url_for('main.mooreview4', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp &nbsp4</a>
          <a href="{{ url_for('main.mooreview5', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp&nbsp 5</a></span>
          <span class="line">
          <a href="{{ url_for('main.mooreview6', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp&nbsp 6</a>
          <a href="{{ url_for('main.mooreview7', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp&nbsp 7</a>
          <a href="{{ url_for('main.mooreview8', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp&nbsp 8</a></span>
          <span class="line">
          <a href="{{ url_for('main.mooreview9', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp&nbsp 9</a>
          <a href="{{ url_for('main.mooreview10', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part 10</a></span>
        </h1>
      </div>

{% endblock %}
