{% extends "base.html" %}

{% block app_content %}
    <form action="" method="post">
      {{ form.hidden_tag() }}

          <table class="table table-hover">
              <tr>
                <th style="text-align:center">{{ form.film91.label }}</th><td></td>
                <th style="text-align:center">{{ form.film92.label }}</th><td></td>
                <th style="text-align:center">{{ form.film93.label }}</th><td></td>
                <th style="text-align:center">{{ form.film94.label }}</th><td></td>
                <th style="text-align:center">{{ form.film95.label }}</th><td></td>
                <th style="text-align:center">{{ form.film96.label }}</th><td></td>
                <th style="text-align:center">{{ form.film97.label }}</th><td></td>
                <th style="text-align:center">{{ form.film98.label }}</th><td></td>
                <th style="text-align:center">{{ form.film99.label }}</th><td></td>
                <th style="text-align:center">{{ form.film100.label }}</th><td></td><td></td></tr>

              <tr>
                <td><a href="https://www.imdb.com/title/tt0056592/", target="_blank"><img src="{{ url_for('static', filename = 'posters/91.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film91 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                  {% for error in form.film91.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt0086465/", target="_blank"><img src="{{ url_for('static', filename = 'posters/92.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film92 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                  {% for error in form.film92.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt3152624/", target="_blank"><img src="{{ url_for('static', filename = 'posters/93.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film93 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                  {% for error in form.film93.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt7908628/", target="_blank"><img src="{{ url_for('static', filename = 'posters/94.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film94 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                  {% for error in form.film94.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt0056687/", target="_blank"><img src="{{ url_for('static', filename = 'posters/95.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film95 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                  {% for error in form.film95.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt0098635/", target="_blank"><img src="{{ url_for('static', filename = 'posters/96.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film96 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                  {% for error in form.film96.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt0381707/", target="_blank"><img src="{{ url_for('static', filename = 'posters/97.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film97 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                  {% for error in form.film97.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt0095675/", target="_blank"><img src="{{ url_for('static', filename = 'posters/98.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film98 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                  {% for error in form.film98.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt7681902/", target="_blank"><img src="{{ url_for('static', filename = 'posters/99.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film99 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                  {% for error in form.film99.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </td>

                <td><a href="https://www.imdb.com/title/tt1877832/", target="_blank"><img src="{{ url_for('static', filename = 'posters/100.jpg') }}" height="358px" alt=""></a></td>
                <td style="text-align: center">
                  {% for subfield in form.film100 %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
                  {% for error in form.film100.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </td><td style="vertical-align:middle"><input style="width:250px" type="image" name="submit" src="{{ url_for('static', filename = 'complete.png') }}" border="0" alt="Submit"/></td></tr>

              <tr>

                <th style="text-align:center;vertical-align:middle;height:80px;">Haven't seen it?<br>Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film91 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film91.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle;">Haven't seen it?<br>Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film92 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film92.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle;">Haven't seen it?<br>Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film93 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film93.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle;">Haven't seen it?<br>Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film94 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film94.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle;">Haven't seen it?<br>Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film95 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film95.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle;">Haven't seen it?<br>Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film96 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film96.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle;">Haven't seen it?<br>Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film97 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film97.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle;">Haven't seen it?<br>Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film98 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film98.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle;">Haven't seen it?<br>Do you want to?</th>
                  <td style="text-align: center">
                    {% for subfield in form.film99 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film99.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td>

                <th style="text-align:center;vertical-align:middle;">Haven't seen it?<br>Do you want to?</th>
                  <td style="text-align: center; vertical-align:middle;">
                    {% for subfield in form.film100 %}
                      {% if loop.index > 10 %}
                      <div class="btn group" style="height:35px;">
                        {{ subfield(class="btn-check") }}
                        {{ subfield.label(class="btn btn-outline-success") }}
                      </div>
                      {% endif %}
                      {% for error in form.film100.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                  {% endfor %}
                </td><td></td>
            </table>
      </form>
      <div class="centered">
        <h1>
          <span class="line">
          <a href="{{ url_for('main.mooreview', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp &nbsp1</a>
          <a href="{{ url_for('main.mooreview2', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp&nbsp 2</a>
          <a href="{{ url_for('main.mooreview3', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp&nbsp 3</a></span>
          <span class="line">
          <a href="{{ url_for('main.mooreview4', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp &nbsp4</a>
          <a href="{{ url_for('main.mooreview5', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp&nbsp 5</a></span>
          <span class="line">
          <a href="{{ url_for('main.mooreview6', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp&nbsp 6</a>
          <a href="{{ url_for('main.mooreview7', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp&nbsp 7</a>
          <a href="{{ url_for('main.mooreview8', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp&nbsp 8</a></span>
          <span class="line">
          <a href="{{ url_for('main.mooreview9', id=current_user.id) }}" class="btn btn-primary btn-sm" role="button">part&nbsp&nbsp 9</a>
          <a href="{{ url_for('main.mooreview10', id=current_user.id) }}" class="btn btn-primary btn-sm active" role="button">part 10</a></span>
        </h1>
      </div>

{% endblock %}
