{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <th colspan="3" style="text-align:center;border-bottom:none;padding-top:10px;border-bottom:none;border-radius:50px 50px 50px 50px;"><a href="https://www.imdb.com/title/{{ moovie.imdb }}/", target="_blank"><h3><span class="badge badge-pill" style="background-color:#39b249;">&nbsp&nbsp&nbsp&nbsp{{ moovie.mootitle }}&nbsp&nbsp&nbsp&nbsp</span></h3></a></th>
        </tr>
        <tr>{% set moovieid1 = 'posters/' + (moovie.id | string) + '.jpg' %}{% set moovieid2 = 'posters/' + (moovie.id | string) + '.png' %}
            <td style="text-align:right;padding-right:10px;padding-top:0;border-bottom:none;border-radius:75px 0 0 75px;" rowspan="3">
                {% if moovie.poster_exists1() %}
                <a href="https://www.imdb.com/title/{{ moovie.imdb }}/", target="_blank">
                <img style="width:256px;border-radius:50px 0 0 50px;" src="{{ url_for('static', filename=moovieid1) }}"/>
                {% elif moovie.poster_exists2() %}
                <img style="width:256px;border-radius:50px 0 0 50px;" src="{{ url_for('static', filename=moovieid2) }}"/>
                {% else %}
                <img style="width:256px;border-radius:50px 0 0 50px;" src="{{ url_for('static', filename='posterimg.jpg') }}"/>
                {% endif %}</a><br>
                {% if ratings %}
                <span class="badge badge-pill" style="background-color:#696969;">
                Moofinity-Mate Ratings</span><br>
                {% for rating in ratings %}
                      {% if rating == 12 %}<span class="badge badge-pill" style="background-color:#39b249;">10</span>{% endif %}
                      {% if rating == 11 %}<span class="badge badge-pill" style="background-color:#39b249;">9</span>{% endif %}
                      {% if rating == 10 %}<span class="badge badge-pill" style="background-color:#4081fa;">8</span>{% endif %}
                      {% if rating == 9 %}<span class="badge badge-pill" style="background-color:#4081fa;">7</span>{% endif %}
                      {% if rating == 8 %}<span class="badge badge-pill" style="background-color:#f1841f;">6</span>{% endif %}
                      {% if rating == 6 %}<span class="badge badge-pill" style="background-color:#f1841f;">5</span>{% endif %}
                      {% if rating == 5 %}<span class="badge badge-pill" style="background-color:#e9242d;">4</span>{% endif %}
                      {% if rating == 4 %}<span class="badge badge-pill" style="background-color:#e9242d;">3</span>{% endif %}
                      {% if rating == 2 %}<span class="badge badge-pill" style="background-color:#e9242d;">2</span>{% endif %}
                      {% if rating == 1 %}<span class="badge badge-pill" style="background-color:#e9242d;">1</span>{% endif %}
                {% endfor %}
                <br>{% endif %}
                {% if ratings2 %}
                <span class="badge badge-pill" style="background-color:#696969;">
                Friend Ratings</span><br>
                {% for rating in ratings2 %}
                {% if rating == 12 %}<span class="badge badge-pill" style="background-color:#39b249;">10</span>{% endif %}
                {% if rating == 11 %}<span class="badge badge-pill" style="background-color:#39b249;">9</span>{% endif %}
                {% if rating == 10 %}<span class="badge badge-pill" style="background-color:#4081fa;">8</span>{% endif %}
                {% if rating == 9 %}<span class="badge badge-pill" style="background-color:#4081fa;">7</span>{% endif %}
                {% if rating == 8 %}<span class="badge badge-pill" style="background-color:#f1841f;">6</span>{% endif %}
                {% if rating == 6 %}<span class="badge badge-pill" style="background-color:#f1841f;">5</span>{% endif %}
                {% if rating == 5 %}<span class="badge badge-pill" style="background-color:#e9242d;">4</span>{% endif %}
                {% if rating == 4 %}<span class="badge badge-pill" style="background-color:#e9242d;">3</span>{% endif %}
                {% if rating == 2 %}<span class="badge badge-pill" style="background-color:#e9242d;">2</span>{% endif %}
                {% if rating == 1 %}<span class="badge badge-pill" style="background-color:#e9242d;">1</span>{% endif %}
                {% endfor %}
                {% endif %}<br>
                <nav aria-label="...">
                    <ul style="list-style-type:none" class="pager">
                        <li {% if request.args.get('page') == '1' %} style="visibility:hidden" {% endif %} {% if request.args.get('page') == None %} style="visibility:hidden" {% endif %} class="previous">
                            <a class="btn btn-outline-success" href="{{ prev_url or '#' }}">
                                <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                            </a>
                        </li>
                        <li class="next{% if not next_url %} disabled{% endif %}">
                            <a class="btn btn-outline-success" href="{{ next_url or '#' }}">
                                {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
              </td>
        <form action="" method="post" autocomplete="off">
          {{ form.hidden_tag() }}
            <th style="border-bottom:none;text-align:center;vertical-align:middle;height:38px;padding-left:10px;background-color:#bfd9b7;">
                <div>
                  {% for subfield in form.rating %}
                    {% if loop.index < 11 %}
                    <div class="btn group" style="height:35px;padding-right:2px;padding-left:2px;">
                      {{ subfield(class="btn-check") }}
                      {{ subfield.label(class="btn btn-outline-success") }}
                    </div>
                    {% endif %}
                  {% endfor %}
            </th>
            <th style="width:256px;text-align:center;vertical-align:middle;height:38px;padding-left:10px;padding-right:10px;background-color:#bfd9b7;border-radius:0 50px 50px 0; border-bottom:none;" rowspan="2"><input style="height:66px" type="image" name="submit" value="submit1" src="{{ url_for('static', filename = 'spoken.png') }}" border="0" alt="Submit"/></th>
        <tr>
            <th style="text-align:center;vertical-align:middle;height:60px;padding-left:10px;padding-right:10px;background-color:#bfd9b7;">
              <textarea style="border: 1px solid #198754;width:100%;display:inline-block" class='form-control' name="post" rows="2" placeholder="RATE this moovie by selecting a rating above. MooREVIEW it by adding any length review here."></textarea>
              <input id="autocomplete" class='form-control' type='hidden' name='mootitle' value="{{ moovie.mootitle }}">
            </th>
        </tr>
        </form>
        <tr>
            <td colspan="2" style="border-bottom:none;border-radius:0 50px 50px 0;">
              {% for post in posts %}
                {% if post.body %}
                {% if (request.args.get('id') | int) == post.moovie_id %}
                <table class="table table-hover">
                    <tr>
                        <td style="text-align:center;padding-top: 10px;" width="100px">
                          <div class="ppicparent">
                                <img style="width:100px;" class="image1" src="{{url_for('static', filename='ppicborder.png')}}">
                                {% set userid1 = 'ppics/' + (post.author.id | string) + '.jpg' %}{% set userid2 = 'ppics/' + (post.author.id | string) + '.png' %}
                                {% if post.author.ppic_exists1() %}
                                <img style="width:76px;" class="image2" src="{{ url_for('static', filename=userid1) }}"/>
                                {% elif post.author.ppic_exists2() %}
                                <img style="width:76px;" class="image2" src="{{ url_for('static', filename=userid2) }}"/>
                                {% else %}
                                <img style="width:76px;" class="image2" src="{{ url_for('static', filename='ppics/cowprofile.jpg') }}"/>
                                {% endif %}<br>
                                {% set number = post.author.moofinity(current_user)[:-1] | int %}
                                {% if number >= 90 %}
                                <span class="badge badge-pill" style="background-color:#39b249;" width="76px">
                                    {{ post.author.moofinity(current_user) }}
                                </span>
                                {% elif number >= 80 and number < 90 %}
                                <span class="badge badge-pill" style="background-color:#4081fa;" width="70px">
                                    {{ post.author.moofinity(current_user) }}
                                </span>
                                {% elif number >= 50 and number < 80 %}
                                <span class="badge badge-pill" style="background-color:#f1841f;" width="70px">
                                    {{ post.author.moofinity(current_user) }}
                                </span>
                                {% elif number < 50 %}
                                <span class="badge badge-pill" style="background-color:#e9242d;" width="70px">
                                    {{ post.author.moofinity(current_user) }}
                                </span>
                                {% endif %}
                        </td>
                        <td style="padding: 10px 10px;border-radius:0 50px 50px 0;">
                            {% set user_link %}
                                <span class="user_popup">
                                    <a class="btn btn-outline-success" href="{{ url_for('main.user', id=post.author.id) }}">{{ post.author.username }}</a>
                                </span>
                            {% endset %}
                            {{ _('%(username)s', username=user_link) }}
                            <span id="post{{ post.id }}">
                              {% set mootitlevar = post.mootitle %}
                              {% if post.mootitle %}<a class="btn btn-outline-success" href="{{ url_for('main.result', mootitle=mootitlevar)}}">{{ post.mootitle }}</a>{% endif %}
                              {% if post.mootitle %}<a class="btn btn-outline-success" href="{{ url_for('main.chatspace', id=post.id)}}">chatspace{% if post.chat_count != 0 %} ({{ post.chat_count }} {% if post.chat_count == 1 %}reply{% else %}replies{% endif %}){% endif %}</a>{% endif %}
                              {% if post.rating %}
                                  {% if post.rating == 12 %}<span class="badge badge-pill" style="background-color:#39b249;color:#eeeeee;">Mooooooo!!!!!&nbsp&nbsp<span class="badge badge-pill" style="background-color:#737373;">10</span></span>{% endif %}
                                  {% if post.rating == 11 %}<span class="badge badge-pill" style="background-color:#39b249;color:#eeeeee;">Moooooo!!!!&nbsp&nbsp<span class="badge badge-pill" style="background-color:#737373;">9</span></span>{% endif %}
                                  {% if post.rating == 10 %}<span class="badge badge-pill" style="background-color:#4081fa;color:#eeeeee;">Mooooo!!!&nbsp&nbsp<span class="badge badge-pill" style="background-color:#737373;">8</span></span>{% endif %}
                                  {% if post.rating == 9 %}<span class="badge badge-pill" style="background-color:#4081fa;color:#eeeeee;">Moooo!!&nbsp&nbsp<span class="badge badge-pill" style="background-color:#737373;">7</span></span>{% endif %}
                                  {% if post.rating == 8 %}<span class="badge badge-pill" style="background-color:#f1841f;color:#eeeeee;">Mooo!&nbsp&nbsp<span class="badge badge-pill" style="background-color:#737373;">6</span></span>{% endif %}
                                  {% if post.rating == 6 %}<span class="badge badge-pill" style="background-color:#f1841f;color:#eeeeee;">Moo&nbsp&nbsp<span class="badge badge-pill" style="background-color:#737373;">5</span></span>{% endif %}
                                  {% if post.rating == 5 %}<span class="badge badge-pill" style="background-color:#e9242d;color:#eeeeee;">Boo&nbsp&nbsp<span class="badge badge-pill" style="background-color:#737373;">4</span></span>{% endif %}
                                  {% if post.rating == 4 %}<span class="badge badge-pill" style="background-color:#e9242d;color:#eeeeee;">Booo!&nbsp&nbsp<span class="badge badge-pill" style="background-color:#737373;">3</span></span>{% endif %}
                                  {% if post.rating == 2 %}<span class="badge badge-pill" style="background-color:#e9242d;color:#eeeeee;">Boooo!!&nbsp&nbsp<span class="badge badge-pill" style="background-color:#737373;">2</span></span>{% endif %}
                                  {% if post.rating == 1 %}<span class="badge badge-pill" style="background-color:#e9242d;color:#eeeeee;">Booooo!!!&nbsp&nbsp<span class="badge badge-pill" style="background-color:#737373;">1</span></span>{% endif %}
                                  <br>
                              {% endif %}
                              <span style="font-weight:bold;"{{ _('%(when)s:', when=moment(post.timestamp).fromNow()) }}</span>
                              {% if post.body %}{{ post.body }}{% endif %}</span>
                        </td>
                    </tr>
                    {% endif %}
                  {% endif %}
                  {% endfor %}
                </table>
            </td>
          </tr>
      </table>

{% endblock %}
